body{
    background-color: rgb(160, 231, 184);
}

h1 {
    font-weight: bold;
}

h2{
   text-align: center; 
   margin-top: 10px;
   margin-bottom:2px;
   padding: 10px
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
}

td {
    width: 50px;
}

th {
    background-color: #f5f5f5;
}

caption {
    font-style: italic;
    font-weight: bold;
}

.custom {
    text-align: center; 
    color: #381f1f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}