{% extends 'base.html' %}

{% block title %} Welcome to the homepage! {% endblock %}


{% block body %} 
<h1>My famliy</h1> 
<img src="static/images/Christmas.jpg" alt="The fam" />
<hr>
<br>
<h2> My interests</h2>
<table>
    <caption> Favorite Sports Teams/Players </caption>
    <tr>
        <th>NBA</th>
        <th>NFL</th>
        <th>NHL</th>
        <th>CFB</th>
        <th>NCAAB</th>
        <th>ATP</th>
        <th>UFC</th>
    </tr>
    <tr>
        <th>Chicago Bulls</th>
        <th>Chicago Bears</th>
        <th>Chicage Blackhawks</th>
        <th>Iowa Hawkeyes</th>
        <th>Iowa Hawkeyes</th>
        <th>Roger Federer</th>
        <th>Israil Adesanya</th>
    </tr>

</table>






{% endblock %}